body{
    text-align: center ;
    color: #d7d7d7 ;

    margin: 0% ;
    padding: 0%;
    background: #232323 ;
         
}
.upper-root{
    width: 100% ;
   
}
.title {
    text-align: center ;
    
}

.IDCA-img {
   width: 50%;
    size: auto ;
    height: 30em;
}
.slogan {
    color: orangered; 

}
.support-warning{
    font-weight: bold ;

}
.team-name{
    color : green ;
}
.team-name-title{
    color  : #3535ff ;
}
